body {background-color: rgb(61, 227, 233);
}
.logo{background-color: rgba(228, 10, 10, 0.603); text-wrap:1 ; width: 200px;} 
.navbar{background-color: rgba(255, 119, 248, 0.932); text-wrap:1 ; width: 145px;} 